/* .card {
    background-color: lightgreen;
    display: inline-block;
    border-radius: .5rem;
    padding: 1rem;
    margin: .5rem;
    border-width: 2px;
    box-shadow: 4px 4px 8px 0px rgba( 0, 0, 0, 0.2 );
    
};

.card:hover {
  transform: scale(1.05);
}; */